// font-family: 'Hanken Grotesk', sans-serif;
// font-family: 'Roboto', sans-serif;
//Arial, Helvetica, sans-serif

$primary-accent: #e31515;
$secondary-accent: #2b2b2b;
$site-bg: #ffffff;
$light-bg: #f5f3eb;
$dark-bg: #000000;
$section-bg: #D9DFE1;
$text-color: #000000;
$text-dark-bg: #ffffff;
$text-h3:#1C244B;
$text-h1:#ffffff;
$c-1: #77b978;
$c-2: #f37262;
$background-color: #FFFFFF;
$hover: #D82929;
$roboto: 'Roboto', sans-serif;
$Farial:'Arial', 'Helvetica', sans-serif;
$fpoppins: "Poppins", Sans-serif;