@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@1,100&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@1,100&display=swap');
@import 'variables';
@import 'base';

/*Header */
header {
    background-color: aliceblue;

    .top {
        width: 100%;
        height: 50px;
        background-image: url(../images/background.jpeg);
        background-attachment: fixed;

        .row {
            display: flex;
            justify-content: center;
            display: block;

            ul {
                list-style-type: none;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                justify-items: center;
            }

            li {
                margin: -7px 0 0 0;

                a {
                    color: aliceblue;
                    text-decoration: none;
                    font-size: 14px;
                }
            }
        }

    }

    .row1 {
        display: none;
    }

}

.main {
    width: 100%;
    background-color: #FFFFFF;

    .maintop {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;

        img {
            width: 10%;
        }

        nav {
            width: 40%;
            display: block;
        }

        ul {
            list-style-type: none;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        // li {}

        color: $dark-bg;
        text-decoration: none;
        transition: all .3s ease-in-out;
        font-family: $fpoppins;
        font-size: 18px;
        font-weight: 500;
        text-transform: uppercase;
        font-style: normal;
        text-decoration: none;
        line-height: 2em;
        letter-spacing: 0px;

        &:hover {
            text-decoration: underline;
            color: $hover ;
        }
    }

    .menu-icon {
        display: none;
    }
}


/*Header */
/*Main Cover */
main {
    width: 100%;
    background-image: url(../images/cover1.jpg);
    background-attachment: fixed;
    background-color: #ca3636;
    background-position: center center;
    background-repeat: repeat;
    background-size: cover;

    // background: linear-gradient(10deg, #189CCCE3 14%, #7E75CECF 100%);
    // opacity: 0.72;



    .container {

        display: flex;
        align-items: center;
        justify-content: end;

    }

    .intro {
        width: 100%;
        margin: 100px;

        .title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            //            margin:100px;
            //            width: 100%;
            //            height: 135px;
            // display: block;
            p {
                color: $text-h1;
                font-size: 20px;
                font-weight: 700;
                text-transform: none;
                font-style: normal;
                line-height: 29px;
                letter-spacing: 0px;
            }

            // 
        }

    }
}

/*/Main Cover */
/*First Section */
.punkte {
    display: flex;
    flex-direction: column;
    align-items: center;

    .container {
        margin-top: -61px;
        padding: 0px 0px 41px 0px;
    }
}

/*/First Section */
/*Über Uns*/
.ueber-uns {
    padding: 70px 0px;

    .content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;
        align-items: center;
        justify-items: stretch;

        //grid-row: 1 /span 3;
        img {
            width: 40vh;
            margin-bottom: -8px;
        }
    }

    .img1 {
        display: block;
        grid-area: 1/ 2 /2 /1;
        direction: rtl;
        //width:100px;
    }

    .img3 {
        display: block;
        grid-area: 2 / 3 / 1 /2;
        // width: 280px;
    }

    .img2 {
        display: block;
        grid-area: 2 / 1 / 2 /1;
        direction: rtl;
        // width: 280px;
    }

    .img4 {
        display: block;
        grid-area: 3 / 4 /2 /2;
        //width: 100px;
    }

    .img5 {
        grid-column: 3;
        grid-row: 1 / span 3;
    }

    .img-mobil {
        display: none;
    }

}

/*Über Uns*/
/*Unsere Leistungen*/
.unsere-leistungen {
    background-color: $section-bg;
    padding: 80px 0px 120px 0px;

    .container {
        max-width: 1350px;
        min-height: 701px;

        .categories {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(1, 1fr);
            gap: 10px;
            // align-items: center;
            justify-items: stretch;

            .categories-grid {

                h4 {
                    margin: 50px 0px 25px 0px;
                }

            }
        }

        .btn {
            margin-left: 580px;
        }
    }
}

/*Über Uns Section */
.leistungen-im-uberblick {
    padding: 50px 0px 100px 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .container {


        .unsere-grid {
            list-style-type: none;
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-items: center;

            .unsere-ul,
            .unsere-ul1 {
                font-size: 14px;
                font-weight: 300;
                text-transform: none;
                font-style: normal;
                text-decoration: none;
                line-height: 23px;
                letter-spacing: 0px;
            }

        }
    }
}

.carousel-galerie {
    background-color: $text-color;
    padding: 0px 0px 140px 0px;

    .text-galerie {
        display: block;
        width: 100%;
        text-align: center;
        margin: 4em 0em 3em 0em;
        background-color: transparent;
        background-image: linear-gradient(180deg, $dark-bg 17%, $text-dark-bg 100%);
        color: $text-dark-bg;
    }

    &galerie {
        display: flex;
        transform: translate(0);
        transition: transform 0.25s;

    }

    img {
        width: 170px;
        border-radius: 5px;
    }

    .button-previous,
    .button-next {
        background: rgb(124 124 110 / 8%);
        margin-top: 99px;
        color: #FFFFFF;
        cursor: pointer;
        font-size: 2rem;
        font-weight: bold;
        border-width: 0px;
        height: 3rem;
        width: 3rem;
        z-index: 1;
        position: absolute;
    }

    #previous {
        left: 100px;
    }

    #next {
        right: 100px;
    }

}

//Galerie//
// SectionColorBg//
.section-color {
    background: url(../images/background.png);
    transition: all .3s ease-in-out;
    width: 100%;
    height: 100px;
}

// SectionColorBg//
//Kontaktiren SIe Uns//
.kontaktieren-sie-uns {
    background-color: $section-bg;
    background-color: $section-bg;
    padding: 80px 0px;
    color: $text-color;

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }

    h2 {
        line-height: 1.5em;

    }

    .kontakt-addrese {
        box-shadow: 0px 0px 10px 0px rgb(213 13 32 / 50%);
        padding: 20px 62px 0px 62px;

        hr {
            width: 89%;
            margin-left: 0px;
        }

        img {
            margin: -25px 0px;
            padding: 4px 4px;
        }

        a {
            color: red;
            font-size: 25px;
            font-weight: 300;
            text-transform: none;
            font-style: normal;
            text-decoration: none;
            line-height: 23px;
            letter-spacing: 0px;
        }

        .list {
            a {
                font-size: 14px;
                font-weight: 300;
                text-transform: none;
                font-style: normal;
                text-decoration: none;
                line-height: 23px;
                letter-spacing: 0px;
            }

        }

    }

    .kontaktformular {
        box-shadow: 0px 0px 10px 0px rgb(213 13 32 / 50%);
        padding: 20px 62px 0px 62px;
        width: 725px;

        hr {
            width: 89%;
            margin-left: 0px;
        }

        img {
            margin: -25px 0px;
            padding: 4px 4px;
        }

        a {
            color: red;
            font-size: 25px;
            font-weight: 300;
            text-transform: none;
            font-style: normal;
            text-decoration: none;
            line-height: 23px;
            letter-spacing: 0px;
        }

        p {
            margin: 1em 1em 1em 1em;
            text-align: left;
            font-size: 18px;
            font-weight: 300;
            text-transform: none;
            font-style: normal;
            text-decoration: none;
            line-height: 23px;
            letter-spacing: 0px;
        }

    }
}
button {
    background-color: #eee;
    border: 1px solid #ccc;
    cursor: pointer;
    color: #333;
    font-size: 1em;
    padding: 10px 15px;
}
// SectionColorBg//
.section-color1 {
    background: url(../images/bg2.png);
    transition: all .3s ease-in-out;
    width: 100%;
    height: 100px;
}

// SectionColorBg//
// Sektion Links//
.links {
    background-image: url(../images/background.jpeg);
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: -23px 0px;

    .start-list {
        background: linear-gradient(170deg, #B39C9CF5 31%, #000000 47%);
        opacity: 0.68;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: end;
        align-items: start;
        align-content: space-between;

        .logo {
            list-style-image: none;
            display: flex;
            align-items: center;
            flex-direction: column;
            font-size: large;
            margin: 0px 63px 0px 28px;

            li,
            a {
                color: $text-dark-bg;
                list-style-type: none;

                img {
                    width: 30px;
                    aspect-ratio: 3/2;
                    object-fit: contain;
                    //mix-blend-mode: color-burn;

                }
            }

        }

        .list {
            margin: 50px 50px 0px 0px;

            ul,
            li,
            a {

                font-size: 20px;
                color: $text-dark-bg;
                list-style-type: none;
            }

        }

        .zeit {
            margin: 50px 300px 0px 0px;

            ul,
            li,
            a {
                color: $text-dark-bg;
                list-style-type: none;
                color: #ffffff;
                font-size: 20px;
            }
        }
    }
}

// Sektion Links//
// Footer//
.footer {
    background-color: #0d0d0e;
    color: $text-h1;
    //padding: 10px;

    .list {
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: space-between;
    }

    li {
        list-style-type: none;
        text-align: center;
        padding: 20px 0;
        font-size: 15px;

        span {
            font-size: 15px;
        }

        a {
            color: $text-h1;
        }
    }
}

// Footer//
//Mobile Version (media query)
@media screen and (max-width: 700px) {
    .main .maintop {
        nav {
            display: none;
        }

        img {
            width: 52%;
            margin-left: -21px;
        }
    }

    header .top {
        .row {
            display: none;
        }

        width: 100%;
        height: 200px;
        background-image: url('../images/background.jpeg');
        background-attachment: fixed;
        list-style-type: none;

        .row1 {
            display: block;

            ul {
                list-style-type: none;
                display: grid;
                grid-template-rows: 1fr 1fr 1fr;
                justify-items: start;
            }
        }

        a {
            color: aliceblue;
            text-decoration: none;
            font-size: 20px;
        }



    }

    main {
        .container {
            justify-content: center;
        }

        ;

        h1 {
            font-size: 10vw;
        }

        hr {
            margin-left: 0px;
        }

        p {
            font-size: 13px;
            line-height: 1.5em;
        }
    }

    .maintop .menu-icon {
        display: block;
        width: 50px;
        height: 50px;
        background-image: url('../images/menuicon.png');
        background-repeat: no-repeat;
        background-position: center center;

    }

    .punkte {
        .container {
            margin-top: -61px;
            padding: 0px 0px 41px 0px;

            img {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 50%;
            }
        }

    }

    .ueber-uns {
        padding: 70px 0px;
        text-align: center;
        margin-bottom: 30px;

        .content {
            display: flex;
            flex-direction: column-reverse;

            .img5 {
                p {
                    margin-left: auto;
                    margin-right: auto;
                    width: 90%;
                    margin-bottom: 150px;
                }
            }

            .img1,
            .img2,
            .img3,
            .img4 {
                display: none;
            }

            .img-mobil {
                display: block;
            }

            img {
                margin-left: auto;
                margin-right: auto;

            }
        }
    }

    .unsere-leistungen {
        background-color: $section-bg;
        padding: 80px 50px 50px 40px;

        .container {
            max-width: auto;
            min-height: 701px;

            h2 {
                font-size: 71px;
                margin: -106px 0px 80px 0px;
            }

            .categories {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: repeat(4, 1fr);
                gap: 10px;
                // align-items: center;
                justify-items: stretch;

                .categories-grid {

                    h4 {
                        margin: 50px 0px 25px 0px;
                    }

                    p {
                        margin: 50px 20px 27px 0px;
                    }

                }


            }

            .btn {
                margin-left: 148px;
                margin-right: auto;
            }

            .thumbnail {
                width: 100%;
                height: 500px;


            }


        }
    }

    section {
        .container {
            margin-top: -61px;
            padding: 0px 0px 41px 0px;

            img {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 50%;
            }

            h3 {
                font-size: 40px;
            }

        }


    }

    .leistungen-im-uberblick {

        .container {

            h3 {
                font-size: 34px;
                text-align: center;
                margin-bottom: 50px;
                margin-top: 50px;
            }

            .unsere-grid {
                list-style-type: none;
                display: grid;
                grid-template-rows: 1fr 1fr;
                grid-template-columns: 1fr;

                .unsere-ul1 {
                    margin-left: 48px;
                    margin-top: 40px;
                }
            }
        }
    }



    .kontaktieren-sie-uns {
        background-color: $section-bg;
        background-color: $section-bg;
        padding: 80px 0px;
        color: $text-color;
        width: auto;
        // height: auto;

        .grid {
            display: flex;
            flex-direction: column;
            justify-items: center;
        }

        h2 {
            font-size: 60px;
            margin: 3px 33px;

        }

        iframe {
            width: 400px;
            height: 350px;
        }

        .kontakt-addrese {
            box-shadow: 0px 0px 10px 0px rgb(213 13 32 / 50%);
            padding: 0px 0px 3px 65px;
            width: 480px;
            margin-left: auto;
            margin-right: auto;



            img {
                margin: -25px 0px;
                padding: 4px 4px;
            }



        }

        .kontaktformular {
            box-shadow: 0px 0px 10px 0px rgb(213 13 32 / 50%);
            padding: 0px 0px 3px 65px;
            width: 480px;
            margin-left: auto;
            margin-right: auto;

            textarea {
                width: 400px;
            }


            .btn {
                background-color: #eee;
                border: 1px solid #ddd;
                color: #333;
                font-size: 1em;
                padding: 10px 15px;
            }




        }
    }
    .carousel-galerie {
   
      
    
        .galerie {
            display: flex;
            transform: translate(0);
            transition: transform 0.25s;
            flex-direction: row-reverse;
    
        }
    
        img {
            width: 200px;
            border-radius: 5px;
        }   
    }
    
    .links {
        background-image: url(../images/background.jpeg);
        background-attachment: scroll;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: auto;
        margin: -23px 0px;

        .start-list {
            background: linear-gradient(170deg, #B39C9CF5 31%, #000000 47%);
            opacity: 0.68;
            width: auto;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);
            justify-items: start;
            align-items: start;
            align-content: space-between;

            .logo {
                list-style-image: none;
                display: flex;
                align-items: center;
                flex-direction: column;
                font-size: large;
                margin: 0px 63px 0px 28px;

                li,
                a {
                    color: $text-dark-bg;
                    list-style-type: none;

                    img {
                        width: 30px;
                        aspect-ratio: 3/2;
                        object-fit: contain;
                        // mix-blend-mode: color-burn;

                    }
                }

            }

            .list {
                margin: 50px 50px 0px 0px;

                ul,
                li,
                a {

                    font-size: 20px;
                    color: $text-dark-bg;
                    list-style-type: none;
                }

            }

            .zeit {
                margin: 50px 300px 0px 0px;

                ul,
                li,
                a {
                    color: $text-dark-bg;
                    list-style-type: none;
                    color: #ffffff;
                    font-size: 20px;
                }
            }
        }
    }

    .links {

        max-width: 1400px;

        .start-list {
            background: linear-gradient(170deg, #B39C9CF5 31%, #000000 47%);
            opacity: 0.59;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;

            .logo {
                list-style-image: none;
                display: flex;
                align-items: center;
                flex-direction: column;
                font-size: large;
                margin: 0px 63px 0px 28px;

                li,
                a {
                    color: $text-dark-bg;
                    list-style-type: none;

                    img {
                        width: 30px;
                        aspect-ratio: 3/2;
                        object-fit: contain;
                        //mix-blend-mode: color-burn;

                    }
                }

            }

            .list {
                margin: 20px 49px 0px 25px;

                ul,
                li,
                a {

                    font-size: 20px;
                    color: $text-dark-bg;
                    list-style-type: none;
                }

            }

            .zeit {
                margin: -150px 0px 0px 25px;

                ul,
                li,
                a {
                    color: $text-dark-bg;
                    list-style-type: none;
                    color: #ffffff;
                    font-size: 20px;
                }
            }
        }
    }

    .footer {
        background-color: #0d0d0e;

        .list {
            display: grid;
            grid-template-columns: 1fr;
        }

        li {
            list-style-type: none;
            text-align: center;
            padding: 2px 0;
            font-size: 15px;

            span {
                font-size: 15px;
            }

            a {
                color: $text-h1;
            }
        }
    }
}